<!DOCTYPE html>
{% load staticfiles %}
<html>
  <head>
    <meta charset="utf-8">
    <title>AccessRecord</title>
    <link rel="stylesheet" href="{% static "css/mystyle.css" %}">
  </head>
  <body>
    <h1>Welcome to AccessRecord</h1>

    <div class="accessrecord">
      {% if access_record %}
        <table>
          <thead>
            <th>Site Name</th>
            <th>Date Accessed</th>
          </thead>
        {% for entry in access_record %}
          <tr>
            <td>{{ entry.name }}</td>
            <td>{{ entry.date }}</td>
          </tr>
        {% endfor %}
        </table>
      {% else %}
        <p>No Access Record</p>
      {% endif %}
    </div>

  </body>
</html>
